In [4]:
import pandas as pd

train = pd.read_csv(r'Credit_train.csv')
#questions 1-3
train.corr()

               BUSAGE  MAXLINEUTIL  DAYSDELQ  TOTACBAL
BUSAGE       1.000000    -0.031004 -0.023013  0.075082
MAXLINEUTIL -0.031004     1.000000  0.067837  0.517829
DAYSDELQ    -0.023013     0.067837  1.000000 -0.036848
TOTACBAL     0.075082     0.517829 -0.036848  1.000000

In [5]:
#question 4-6
train.cov()

                    BUSAGE  MAXLINEUTIL     DAYSDELQ      TOTACBAL
BUSAGE        10737.355089    -1.387138   -16.841434  1.773395e+05
MAXLINEUTIL      -1.387138     0.185473     0.189120  5.069575e+03
DAYSDELQ        -16.841434     0.189120    49.586702 -5.990735e+03
TOTACBAL     177339.498909  5069.574860 -5990.735403  5.158225e+08

In [6]:
#questions 8
import scipy.stats as st

train.dropna(inplace=True)
cross = pd.crosstab(train['BUSTYPE'],train['DEFAULT'])
st.chi2_contingency(cross)

(9.85481097637964,
 0.07945520439051051,
 5,
 array([[1.05440739e+04, 9.92926088e+02],
        [4.27447635e+03, 4.02523647e+02],
        [1.05925125e+03, 9.97487506e+01],
        [1.42848119e+03, 1.34518807e+02],
        [1.64508391e+01, 1.54916092e+00],
        [5.02664527e+01, 4.73354727e+00]]))

In [7]:
#questions 10-13
import numpy as np
import math

def Zval(s):
    v = train[[s,'DEFAULT']]
    a = v[v["DEFAULT"] == 'Y']
    b = v[v["DEFAULT"] == 'N']

    n1 = len(a)
    n2 = len(b)

    z = (a[s].mean() - b[s].mean())/(math.sqrt((np.var(a)/n1)+(np.var(b)/n2)))
    return abs(z);

def Zprob(z) :
    return abs(1-(st.norm.cdf(z)-.5)*2)

print (Zval('DAYSDELQ'))
print(Zprob(Zval('TOTACBAL')))
print (Zval('BUSAGE'))
print (Zval('MAXLINEUTIL'))

6.447508208630024
6.661338147750939e-16
13.949868956383746
24.83111512111584

In [14]:
# question 14
import statsmodels.api as sm
from statsmodels.formula.api import ols

def anova(s):
  m = ols(s, data = train).fit()
  t = sm.stats.anova_lm(m,typ = 2)
  return t
print(anova('BUSAGE ~ BUSTYPE'))
print(anova('TOTACBAL ~ BUSTYPE'))
print(anova('MAXLINEUTIL ~ BUSTYPE'))
print(anova('DAYSDELQ ~ BUSTYPE'))

                sum_sq       df          F        PR(>F)
BUSTYPE   2.168155e+06      5.0  40.398089  1.787523e-41
Residual  2.039772e+08  19003.0        NaN           NaN
                sum_sq       df          F        PR(>F)
BUSTYPE   4.196464e+10      5.0  16.386265  3.590542e-16
Residual  9.733202e+12  19003.0        NaN           NaN
               sum_sq       df         F        PR(>F)
BUSTYPE      7.109844      5.0  7.640268  3.494306e-07
Residual  3536.744117  19003.0       NaN           NaN
                 sum_sq       df         F    PR(>F)
BUSTYPE       98.246606      5.0  0.386514  0.858387
Residual  966060.592786  19003.0       NaN       NaN